.screen-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__title:hover {
    color: blueviolet;
    cursor: pointer;
}

.credit {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator h6 {
    margin: 40px 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}